/* General Styles */
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Top Navigation */
.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #E64D7C;
    border-radius: 45px;
    width: 95%;
    margin: 10px auto;
    padding: 10px 30px;
    position: sticky;
    top: 5px;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    gap: 10%; 
}

.top-nav a {
    font-family: "ivyora-display", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #E64D7C;
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
}

.top-nav a:hover {
    font-style: italic;
}

.top-nav p {
    margin: 0;
    font-size: 20px;
    color: #E64D7C;
}

.top-nav img {
    height: 35px;
}

/* Border */
#border {
    margin-top: -3%;
    margin-bottom: -2.5%;
}

/* Title Card */
.title-card {
    background-color: #F7DDE8;
    text-align: center;
    padding: 50px;
    color: #E64D7C;
    margin-top: -15%;
}

.title-card img {
    width: 15%;
    height: 15%;
    position: relative;
    padding-left: 15px;
    z-index: 1;
}

.title-card h1 {
    font-family: "parfumerie-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E64D7C;
    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
    margin-top: 7%;
}

.title-card h3 {
    color: #FFF;
    font-family: "ivyora-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 1.29px;
    border-radius: 45px;
    border: 3px solid #FFF;
    background: #E64D7C;
    margin-top: -23%;
    position: relative;
    margin-bottom: 10%;
    margin-left: 22%;
    width: 55%;
}

/* Intro */
#intro {
    background-color: #E64D7C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5%;
}

.intro-box, .about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;
    border: 4px solid #FFF;
    background: #F7DDE8;
    padding: 40px;
    gap: 5%;
    max-width: 1200px;
    width: 100%;
}

#left-intro {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-photo {
    position: relative;
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-photo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7DDE8;
    opacity: 0.15;
    border-radius: 45px;
    z-index: 2;
    pointer-events: none;
}


#intro-photo img:first-child {
    position: absolute;
    width: 120%;
    z-index: 4;
}

#intro-photo img:nth-child(2) {
    position: absolute;
    width: 110%;
    z-index: 3;
}

#intro-photo img:last-child {
    position: relative;
    width: 100%;
    border-radius: 45px;
    border: 4px solid #FFF;
    z-index: 1;
}

#right-intro {
    flex: 1;
    text-align: right;
    max-width: 50%;
}

#right-intro h2 {
    font-family: "parfumerie-script", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #E64D7C;
    background: white;
    border: 1px solid #E64D7C;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 15px;
    width: auto; 
    margin-bottom: 10px;
    margin-top: 2%;
}

#right-intro p {
    color: #E64D7C;
    font-family: "ivyora-display", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3; 
    letter-spacing: 0.5px;
    margin-top: 20px;
}

/* Reviews */
#reviews {
    background: url('../img/ribbonbg.png') no-repeat center center;
    background-size: cover;
    background-color: white;
    padding: 50px 10%;
    text-align: center;
}

#reviews h1 {
    font-family: "parfumerie-script", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #E64D7C;
    border-radius: 20px;
    border: 2px solid #E64D7C;
    background: #F7DDE8;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 15px;
}

#reviews h1:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0px 0px 6px #E64D7C);
}

#review-box {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    padding: 15px;
    gap: 15px;
    overflow-x: auto;
    margin-bottom: 30px;
}

.lip-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFF;
    color: #E64D7C;
    border: 2px solid #E64D7C;
    border-radius: 15px;
    padding: 10px; 
    width: 80%;
    min-width: 20%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.lip-review p {
    font-family: "ivyora-display", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.lip-review:hover {
    transform: translateY(-5px);
    background: #E64D7C; 
    color: white;
}

.lip-review:hover h4 {
    color: white;
}

.lip-review:hover a {
    color: white;
}

.lip-review img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#reviews a {
    text-decoration: none;
    color: inherit;
}

/* About */
#about {
    background-color: #E64D7C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5%;
}

.about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;
    border: 4px solid #FFF;
    background: #F7DDE8;
    padding: 40px;
    gap: 5%;
    max-width: 1200px;
    width: 100%;
}

.about-left {
    flex: 1;
    text-align: left;
    max-width: 50%;
}

.about-left h2 {
    font-family: "parfumerie-script", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #E64D7C;
    background: white;
    border: 1px solid #E64D7C;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 15px;
    width: auto;
    margin-bottom: 10px;
    margin-top: 2%;
}

.about-left p {
    color: #E64D7C;
    font-family: "ivyora-display", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.84px;
    margin-top: 20px;
}

.about-right {
    position: relative;
    flex: 1;
    max-width: 50%;
    text-align: right;
}

.about-right img {
    width: 100%;
    height: auto;
    max-width: 450px;
    display: block;
    border-radius: 45px;
    border: 4px solid #FFF;
    margin-left: 10%;
}

.about-right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7DDE8;
    opacity: 15%;
    border-radius: 20px;
}

/* Footer */
footer {
    position: relative;
    background-color: #F7DDE8;
    color: #E64D7C;
    padding: 20px 5%;
    text-align: center;
    overflow: hidden;
}

.footer-columns {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-left,
.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-divider {
    width: 2px;
    height: 100px;
    background-color: white;
    border: 1px solid #E64D7C;
    border-radius: 45px;
    opacity: 0.7;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer h4 {
    font-size: 20px;
    font-style: italic;
    margin: 0;
}

footer p {
    color: #FFF;
    font-size: 15px;
    font-style: italic;
    font-weight: 200;
    margin-top: 10px;
    border-radius: 45px;
    border: 1px solid #FFF;
    background: #E64D7C;
    padding: 6px 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer a img {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer a img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 6px #E64D7C);
}
